<!DOCTYPE html>
<html lang="en">
<head>
  <title>AngularJS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5, minimal-ui">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/screen.css">
  <link rel="stylesheet" href="styles/overrides.css">
  <link rel="stylesheet" href="styles/font-awesome.min.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body class="list">
  <!--
    Debug class on <body> enables
    cyan grid on slides
    -->
  <header class="caption">
    <img src="images/AngularJS-large.png" alt="" />
  </header>

  <section class="slide shout"><div>
    <img src="images/AngularJS-large.png" alt=""  class="place" />
  </div></section>
  <section class="slide shout"><div>
    <h2>
      Quem Somos...
    </h2>
  </div></section>

  <section class="slide"><div>
    <img src="images/bruno.jpg" width="300" alt="" style="float:left" />

    <div style="float:left; margin-left: 60px; width: 52%;">
      <h3 style="margin-bottom: 20px; font-size: 38px; font-weight: bold; line-height: 38px;">Bruno Fernando - Designer</h3>

      <ul>
        <li>@bruno2fernando - Twitter</li>
        <li>@3runoDesign - Github</li>
        <li>bruno@mibuz.com.br</li>
        <li style="line-height: 24px;"><span style="font-size: 16px; line-heigth: 16px">HTML5 (Slim, Jade), CSS3 (Sass), Javascript (Coffee), Grunt, Bower, Design</span></li>
      </ul>
    </div>
  </div></section>

  <section class="slide"><div>
    <img src="images/fmx.jpg" width="300" alt="" style="float:left" />

    <div style="float:left; margin-left: 60px; width: 52%;">
      <h3 style="margin-bottom: 20px; font-size: 38px; font-weight: bold; line-height: 38px;">Francisco Martins - Desenvolvedor</h3>

      <ul style="list-style: none">
        <li>@franciscomxs - Twitter/Github</li>
        <li>francisco@mibuz.com.br</li>
        <li style="line-height: 24px;"><span style="font-size: 16px;">Ruby, Ruby on Rails, Javascript, Node, HTML5, CSS3</span></li>
      </ul>
    </div>
  </div></section>

  <section class="slide"><div>
    <img src="images/mibuz.png" alt=""  class="place" />
    <a href="http://mibuz.com.br">mibuz.com.br</a>
  </div></section>

  <section class="slide"><div>
    <img src="images/motor.png" alt=""  class="place" />
    <a href="http://motordeideias.com.br">motordeideias.com.br</a>
  </div></section>

  <section class="slide shout"><div>
    <h2>
      O que é AngularJS?
    </h2>
  </div></section>

  <section class="slide"><div>
    <h2>O que é AngularJS?</h2>
    <p>
      É um framework client-side MVC/MVVM feito em JavaScript e mantida pela Google.
    </p>
    <p>
      "AngularJS é o que o HTML teria sido se tivesse sido projetado para aplicações"
    </p>

  </div></section>

  <section class="slide"><div>
    <h2>Quem fez? Quem usa? Onde e quando usar?</h2>
    <p>
      Surgiu em 2009 por <strong>Miško Hevery</strong> e <strong>Adam Abrons</strong> ambos funcionários do Google na época.
    </p>

    <ul>
      <li>Youtube - No PS3</li>
      <li>...</li>
    </ul>

    <p>
      Em qual quer aplicação web, seja dinâmica ou um simples site.
    </p>
  </div></section>

  <section class="slide shout"><div>
    <h2>
      Iniciando com AngularJS
    </h2>
  </div></section>

  <section class="slide"><div>
    <h2>
      Iniciando com AngularJS
    </h2>
    <p>Para usar o AngularJS, basta incluir como qualquer outro script. O mais importante é utilizar o atributo <strong>ng-app</strong> ou <strong>ng-app="myApp"</strong>.</p>
  </div></section>

  <section class="slide"><div>
    <h2>
      Iniciando com AngularJS
    </h2>
    <pre>
      <code>&lt;html lang="pt-BR"&gt;</code>
      <code>&lt;head&gt;</code>
      <code>    &lt;title&gt;My App&lt;/title&gt;</code>
      <code>    &lt;meta charset="UTF-8"&gt;</code>
      <code>    &lt;link rel="stylesheet" href="screen.css"&gt;</code>
      <code>&lt;/head&gt;</code>
    </pre>
  </div></section>

  <section class="slide"><div>
    <h2>
      Iniciando com AngularJS
    </h2>
    <pre>
      <code>&lt;html lang="pt-BR"&gt;</code>
      <code>&lt;head&gt;</code>
      <code>    &lt;title&gt;My App&lt;/title&gt;</code>
      <code>    &lt;meta charset="UTF-8"&gt;</code>
      <code>    &lt;link rel="stylesheet" href="screen.css"&gt;</code>
      <code>    <mark>&lt;script src="angular.js"&gt;&lt;/script&gt;</mark></code>
      <code>&lt;/head&gt;</code>
    </pre>
  </div></section>

  <section class="slide"><div>
    <h2>
      Iniciando com AngularJS
    </h2>
    <pre>
      <code>&lt;html lang="pt-BR"<mark class="important">ng-app</mark>&gt;</code>
      <code>&lt;head&gt;</code>
      <code>    &lt;title&gt;My App&lt;/title&gt;</code>
      <code>    &lt;meta charset="UTF-8"&gt;</code>
      <code>    &lt;link rel="stylesheet" href="screen.css"&gt;</code>
      <code>    <mark>&lt;script src="angular.js"&gt;&lt;/script&gt;</mark></code>
      <code>&lt;/head&gt;</code>
    </pre>
  </div></section>

  <section class="slide shout"><div>
    <h2>
      MVC
    </h2>
  </div></section>

  <section class="slide"><div>
    <h2>MVC</h2>
    <p>
      Todos já deve ter ouvido falar sobre MVC, usado em várias linguagens.
    </p>
    <ol>
      <li>Model - Trabalha com a estrutura de dados.</li>
      <li>View - É o HTML</li>
      <li>Controller - Controle dos dados.</li>
    </ol>
  </div></section>

  <section class="slide"><div>
    <h2>MVC</h2>
    <p>
      Todos já deve ter ouvido falar sobre MVC, usado em várias linguagens.
    </p>
    <ol>
      <li>Model - Trabalha com a estrutura de dados.</li>
      <li>View - É o HTML</li>
      <li>Controller - Controle dos dados.</li>
      <li><mark>ViewModel - Ajuda a lógica de negócio a partir da interface.</mark></li>
    </ol>
  </div></section>

  <section class="slide"><div>
    <h2>MVVM</h2>
    <pre>
      <code>&lt;div ng-app="myApp"&gt;</code>
      <code>   &lt;a href="" <mark>ng-click="toggle = !toggle"</mark>&gt;Toggle nav&lt;/a&gt;</code>
      <code>   &lt;ul ng-show="toggle"&gt;</code>
      <code>      &lt;li>Link 1&lt;/li&gt;</code>
      <code>      &lt;li>Link 2&lt;/li&gt;</code>
      <code>      &lt;li>Link 3&lt;/li&gt;</code>
      <code>   &lt;/ul&gt;</code>
      <code>&lt;/div&gt;</code>
    </pre>
  </div></section>

  <section class="slide"><div>
    <h2>Two-Way Data-Binding</h2>
    <p>
      Um "ciclo" completo de sincronismo de dados. Sem nem um exagero:
    </p>
    <pre>
      <code>app.controller(<mark class="important">"mainCtrl"</mark>, ['$scope', function(){</code>
      <code>    $scope.myName = "";</code>
      <code>}]);</code>
    </pre>
  </div></section>
  <section class="slide"><div>
    <h2>Two-Way Data-Binding</h2>
    <p>
      Um "ciclo" completo de sincronismo de dados. Sem nem um exagero:
    </p>
    <pre>
      <code>app.controller("mainCtrl", ['$scope', function(){</code>
      <code>    <mark class="important">$scope.myName = "";</mark></code>
      <code>}]);</code>
    </pre>
  </div></section>

  <section class="slide"><div>
    <h2>Two-Way Data-Binding</h2>
    <pre>
      <code>&lt;div ng-app="myApp"&gt;</code>
      <code>   &lt;div <mark class="important">ng-controller="mainCtrl"</mark>&gt;</code>
      <code>      &lt;input type="text" ng-model="myName"&gt;</code>
      <code>      &lt;p&gt;Meu nome {{ myName }}&lt;/p&gt;</code>
      <code>   &lt;/div&gt;</code>
      <code>&lt;/div&gt;</code>
    </pre>
  </div></section>
  <section class="slide"><div>
    <h2>Two-Way Data-Binding</h2>
    <pre>
      <code>&lt;div ng-app="myApp"&gt;</code>
      <code>   &lt;div ng-controller="mainCtrl">&gt;</code>
      <code>      &lt;input type="text" <mark class="important">ng-model="myName"</mark>&gt;</code>
      <code>      &lt;p&gt;Meu nome {{ myName }}&lt;/p&gt;</code>
      <code>   &lt;/div&gt;</code>
      <code>&lt;/div&gt;</code>
    </pre>
  </div></section>
  <section class="slide"><div>
    <h2>Two-Way Data-Binding</h2>
    <pre>
      <code>&lt;div ng-app="myApp"&gt;</code>
      <code>   &lt;div ng-controller="mainCtrl"&gt;</code>
      <code>      &lt;input type="text" ng-model="myName"&gt;</code>
      <code>      &lt;p&gt;Meu nome <mark class="important">{{ myName }}</mark>&lt;/p&gt;</code>
      <code>   &lt;/div&gt;</code>
      <code>&lt;/div&gt;</code>
    </pre>
  </div></section>

  <section class="slide"><div>
    <h2>Quote</h2>
    <figure>
      <blockquote>
        <p>Typewriter etsy messenger bag fingerstache, aesthetic vinyl semiotics twee DIY forage chillwave. Thundercats ennui messenger bag, squid carles chillwave shoreditch pickled cliche letterpress.</p>
      </blockquote>
      <figcaption>Author Name</figcaption>
    </figure>
    <p>DIY beard locavore occupy salvia, whatever single-origin coffee fanny pack 3 wolf moon typewriter gastropub kale chips.</p>
  </div></section>

  <section class="slide"><div>
    <h2>Table</h2>
    <table>
    <tr>
      <th scope="col">Locavore</th>
      <th>Umami</th>
      <th>Helvetica</th>
      <th>Vegan</th>
    </tr>
    <tr>
      <th scope="row">Fingerstache</th>
      <td>Kale</td>
      <td>Chips</td>
      <td>Keytar</td>
    </tr>
    <tr>
      <th scope="row">Sriracha</th>
      <td>Gluten-free</td>
      <td>Ennui</td>
      <td>Keffiyeh</td>
    </tr>
    <tr>
      <th scope="row">Thundercats</th>
      <td>Jean</td>
      <td>Shorts</td>
      <td>Biodiesel</td>
    </tr>
    <tr>
      <th scope="row">Terry</th>
      <td>Richardson</td>
      <td>Swag</td>
      <td>Blog</td>
    </tr>
    </table>
    <p>Typewriter etsy messenger bag fingerstache.</p>
  </div></section>

  <section class="slide shout grow"><div>
    <h2>SHOW ME THE CODE</h2>
  </div></section>

  <section class="slide shout"><div>
    <h2><a href="http://phonegap.com/">Phonegap</a></h2>
  </div></section>

  <section class="slide shout grow"><div>
    <h2>KEEP CALM AND SHOW ME THE CODE</h2>
  </div></section>

  <section class="slide cover"><div>
    <img src="pictures/exact.png" alt="">
  </div></section>

  <section class="slide cover w"><div>
    <img src="pictures/wide.png" alt="">
  </div></section>

  <section class="slide cover h"><div>
    <img src="pictures/tall.png" alt="">
    <footer>
      <p>Typewriter etsy messenger bag fingerstache.</p>
    </footer>
  </div></section>

  <section class="slide cover h"><div>
    <img src="pictures/wide.png" alt="">
  </div></section>

  <section class="slide cover w"><div>
    <img src="pictures/tall.png" alt="">
  </div></section>

  <section class="slide shout"><div>
    <img src="pictures/square.png" alt="" class="place t l">
    <img src="pictures/square.png" alt="" class="place t">
    <img src="pictures/square.png" alt="" class="place t r">
    <img src="pictures/square.png" alt="" class="place l">
    <img src="pictures/square.png" alt="" class="place">
    <img src="pictures/square.png" alt="" class="place r">
    <img src="pictures/square.png" alt="" class="place b l">
    <img src="pictures/square.png" alt="" class="place b">
    <img src="pictures/square.png" alt="" class="place b r">
  </div></section>

  <section class="slide" data-timing="00:03"><div>
    <h2>Timer</h2>
    <p>Three seconds to go.</p>
  </div></section>

  <section class="slide"><div>
    <h2>List navigation</h2>
    <ol>
      <li>Ennui keffiyeh thundercats</li>
      <li class="next">Jean shorts biodiesel</li>
      <li class="next">Terry richardson, swag blog</li>
      <li class="next">Locavore umami vegan helvetica</li>
      <li class="next">Fingerstache kale chips</li>
    </ol>
    <p class="next">Before they sold out master</p>
  </div></section>

  <!--p class="badge"><a href="https://github.com/Mibuz/angularjs">Fork me on Github</a></p-->
  <!--
    To hide progress bar from entire presentation
    just remove “progress” element.
    -->
  <div class="progress"><div></div></div>
  <script src="shower.min.js"></script>
  <!-- Copyright © 2013 Yours Truly, Famous Inc. -->
</body>
</html>
